header{
    background-color: #FBF37C;
    height: 50px;
}

footer{
    clear: both;
    background-color: #FBF37C;
    padding: 25px 0 0 0;
    height: 45px;    
}

#logo{
    float: left;
}
#menu{
    float: right;
   
    margin-top: 16px;
}

a {
    color: #000000;
    margin: 10px;
    text-decoration:none;
    
}

a:hover {
    background-color: #000000;
    color: #FBF37C;
    padding-top: 16px;
    padding-bottom: 17px;
}

.container img{

    height: 600px;
    

}

#principal{
    background-color: #7F7F7F;
}
    
*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0%;
    padding: 0%;
    @import url(tiny.css) (min-width:300px);
    @import url(small.css) (min-width:600px);
    @import url(big.css) (min-width:900px);
    
}